.catalog__main, .catalog__aside {
    @include border;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    margin: 1.8em 0 1.8em 1.7em;
}

.catalog {
    display: flex;
    height: 89vh;

    &__main {
        display: flex;
        width: 68%;

        .catalog__radio {
            display: inline-block;
            background-color: rgba(229, 229, 229, 0.3);
            margin: 2em;
            border-radius: 8px;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    
            input {
                display: none;
            }
            input:checked + label {
                border-radius: 4px;
                box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
                background-color: rgb(229, 229, 229);
            }
    
            label {
                display: inline-block;
                margin: 0.5em 0.75em;
                cursor: pointer;
                padding: 0.8em 1.57em;
            }
            span {
                display: inline-block;
                width: 1px;
                height: 2em;
                background-color: #e5e5e5;
                transform: translateY(50%);
            }
        }
    
        .catalog__navigation {
            width: 10%;
            margin-top: 10%;
            margin-right: 11px;
    
            .catalog__navigation-category {
                margin: 1em 0.75em;
                cursor: pointer;
    
                span {
                    display: block;
                    width: 0.55em;
                    height: 0.55em;
                    background-color: $main-text;
                    border-radius: 50%;
                    margin: 1em 0;
                }
            }
            .navigation-category_active {
                color: $main-bg;

                span {
                    background-color: $main-bg;
                }
            }            
        }
    }

    
    .catalog__content {
        overflow: auto;
        width: 90%;
        

        .catalog__content-radio {
            display: inline-block;
            background-color: rgba(229, 229, 229, 0.3);
            margin: 1em;
            border-radius: 8px;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    
            input {
                display: none;
            }
            input:checked + label {
                border-radius: 4px;
                box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
                background-color: rgb(229, 229, 229);
            }
    
            label {
                display: inline-block;
                margin: 0.43em 0.57em;
                cursor: pointer;
                padding: 0.79em 1.58em;
                width: 154px;
                text-align: center;

                &.catalog__content-radio_repsonal {
                    margin-right: 0.15em;
                }
                &.catalog__content-radio_main {
                    margin-left: 0.15em;
                }

            }
            span {
                display: inline-block;
                width: 1px;
                height: 2em;
                background-color: #e5e5e5;
                transform: translateY(50%);
            }
        }

        .catalog__products {
            
            .catalog__product-catalog {
                display: none;

                &[data-catalog="personal"] {
                    display: block;
                }
            }

            .catalog__products-category {
                display: flex;
                flex-wrap: wrap;
                margin-left: -11px;
                width: 100%;
            }

            .catalog__products-item {
                width: calc(33.33% - 22px);
                margin: 3em 11px 0;

                .catalog__products-content {
                    border-radius: 8px;
                    border: solid 1px #e5e5e5;
                    position: relative;
                    text-align: center;

                    .catalog__products-image {
                        width: 77.2px;
                        height: 103px;
                        margin: 0 auto;
                        position: relative;

                        &::after {
                            content: '';
                            opacity: .05;
                            filter: blur(6px);
                            background-color: #506482;
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        img {
                            width: 100%;
                            position: absolute;
                            right: 0;
                            bottom: 0;
                        }
                    }
                    .catalog__products-title {
                        font-size: 1rem;
                        margin: 1.43em 0 0.29em;
                    }
                    .products-weight {
                        margin-bottom: 1.14em;
                        justify-content: center;

                        p {
                            margin: 0 1.14em;
                        }
                    }
                    
                    .catalog__products-info {
                        position: absolute;
                        top: 1em;
                        right: 1em;

                        &__svg {
                            fill: $main-bg;
                            opacity: 0.2;
                            transition: 0.3s;

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .catalog__products-button[value] {
                color: $main-bg;
                text-transform: uppercase;
                font-weight: bold;
                padding: 0.75em;
                background-color: #fff;
                border-radius: 8px;
                border: solid 1px $main-bg;
                margin-top: 0.43em;
                width: 100%;
                cursor: pointer;
            }
        }
    }
    .catalog__aside {
        width: 28%;
        overflow: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 1.14em;

        &-title {
            background-color: $main-bg;
            color: $white-text;
            font-size: 1.3rem;
            padding: 0.445em 0.85em;
            margin: 0.95em 0.9em 0.55em;
            border-radius: 8px;
        }

        .catalog__aside-category {
            padding: 0 1.15em 0 2.3em;

            li {
                list-style-type: disc;
                display: none;

                h4 {
                    margin: 1.45rem 0 0;
                }
                .catalog__aside-category_title {
                    font-weight: normal;
                }
                .basket-product {
                    border-radius: 8px;
                    background-color: rgba(229, 229, 229, 0.3);
                    margin-top: 0.75em;
                    margin-left: -1em;
                    padding: 0.75em 1em 0;

                    .basket-product__heading {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        h6 {
                            margin: 0;
                            font-size: 1rem;
                        }
                        .basket-product__container {
                            font-size: 0.85rem;
                        }
                        .basket-product__btn {
                            position: relative;

                            span {
                                border-radius: 50%;
                                border: 4px solid #e5e5e5;
                                width: 0;
                                height: 0;
                                display: inline-block;
                                margin: 0.15em;
                            }

                            .basket-product__btn-content {
                                display: none;
                                position: absolute;
                                top: 2em;
                                right: 1em;
                                width: 16em;
                                padding: 1em 0;
                                z-index: 5;

                                &::before {
                                    content: '';
                                    border: 1em solid transparent;
                                    border-right: 1em solid $bg;
                                    border-bottom: 1em solid $bg;
                                    position: absolute;
                                    top: -1.25em;
                                    right: 0;
                                }

                                div {
                                    padding: 0.5em 0 0.5em 2.5em;
                                    cursor: pointer;
                                    width: 60%;
                                    margin: 0 auto;
                                }
                                .basket-product__btn-content_info {
                                    background: url("../img/icon-info.png") no-repeat 10% 50%;
                                    border-bottom: 1px solid #e5e5e5;
                                }
                                .basket-product__btn-content_delete {
                                    background: url("../img/icon-delete.png") no-repeat 10% 50%
                                }
                            }
                        }

                    }

                    
                    
                    .products-weight {
                        justify-content: start;
    
                        p {
                            margin: 0.75em 1em;
                        }
                    }
                }            
            } 
        }

        .catalog__aside-arrange {
            
            width: 95%;
            margin: 1em 2.5%;
            padding: 1.1em;
            background-color: $main-bg;
            border: none;
            border-radius: 8px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            cursor: pointer;

            &[value] {
                text-transform: uppercase;
                color: #fff;
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
    }
}